<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366720337902-t4ldf0qtbvvjlibd4hssktc71tu6jr30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366720337902-t4ldf0qtbvvjlibd4hssktc71tu6jr30</string>
	<key>API_KEY</key>
	<string>AIzaSyCLL-ZWZ4maiDatWst7msWR4yxujfqqdhs</string>
	<key>GCM_SENDER_ID</key>
	<string>366720337902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cilingirbul</string>
	<key>PROJECT_ID</key>
	<string>cilingirbul-99c89</string>
	<key>STORAGE_BUCKET</key>
	<string>cilingirbul-99c89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366720337902:ios:825757d2cf3554b17330ff</string>
</dict>
</plist>