<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>542509130475-a5agv6p4h5gec384c4on4rk6kvi78smg.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.542509130475-a5agv6p4h5gec384c4on4rk6kvi78smg</string>
    <key>API_KEY</key>
    <string>AIzaSyBb4oB4rWP6vqqYv_Ims8c0vLbePDWe--4</string>
    <key>GCM_SENDER_ID</key>
    <string>542509130475</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.mysgrup.benimtemizlikcim</string>
    <key>PROJECT_ID</key>
    <string>elemanyonlendir-6c6b7</string>
    <key>STORAGE_BUCKET</key>
    <string>elemanyonlendir-6c6b7.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:542509130475:ios:42f9e8ba1cfbbfb05914ae</string>
    <key>DATABASE_URL</key>
    <string>https://elemanyonlendir-6c6b7.firebaseio.com</string>
</dict>
</plist>
